ion-content {
    width: 100%;
    height: 100%;
    img {
      margin-top: 20px;
      height: 180px;
      width: auto;
      margin-bottom: 20px;
    }
    .title {
      text-align: center;
      font-size: 25px;
      margin: auto;
      font-weight: 550;
    }
    .content, .btn-content {
      margin: 10px auto;
      width: 70%;
    }
    ion-row {
      margin: auto;
    }
  }