<ion-content [fullscreen]="true">
  <ion-grid *ngIf="lista && lista.length > 0">
  <ion-slides #slideHome pager="false" [options]="slideOpts" (ionSlideDidChange)="slideChange()">
    <ion-slide *ngFor="let l of lista" class="three" >
      <ion-grid class="padding-0 margin-0">
        <ion-row class="width-100 padding-0 margin-auto">
          <img class="margin-auto" *ngIf="l.tipo != '1'" [src]="ruta+l.ruta">
        </ion-row>
        <div class="row" *ngIf="l.tipo == '1'">
   
          <div class="col">
              <div class="text-center">
                <ion-spinner class="margin-auto clasesita" *ngIf="l.tipo == '1'" name="circles"></ion-spinner>
              </div>
          </div>
        </div>
        <ion-row>
          
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
  </ion-grid>
  <ion-grid *ngIf="!lista || lista.length == 0">
    <ion-row>
      <p class="margin-auto">No hay lista activa</p>
    </ion-row>
  </ion-grid>
</ion-content>
